<ion-view view-title="iArenan">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <div class="bar bar-notification bar-{{notification.type}}" ng-if="notification.isShowing">
        {{notification.message}}
    </div>
    <ion-content class="has-header" ng-class="{'has-notification': notification.isShowing}">
        <ion-refresher
            class="invisible"
            pulling-text="Dra för att uppdatera..."
            refreshing-text="Uppdaterar..."
            on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="list card">
                <div class="item item-divider">Min Gladiator</div>
                <div class="item item-avatar">
                    <img ng-src="{{data.image}}" alt="Profilbild">
                    <h2>{{data.name}}</h2>
                    <p>{{data.title}}</p>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-connection-bars"></i>
                    Grad
                    <span class="item-note">
                        {{data.level}} ({{data.experiencePoints}} ep)
                    </span>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-heart"></i>
                    Hälsa
                    <span class="item-note">
                        {{data.health}} kp
                    </span>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-battery-charging"></i>
                    Form
                    <span class="item-note">
                        {{data.shape}}%
                    </span>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-clock"></i>
                    Tid
                    <span class="item-note">
                        {{data.rounds}} rundor
                    </span>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-social-usd"></i>
                    Kapital
                    <span class="item-note">
                        {{data.capital}} sm
                    </span>
                </div>
                <!--
                'rank',
                'popularity',
                'race',
                'age',
                'gender',
                'clan',
                'clanStatus',
                -->
            </div>
        </ion-list>
    </ion-content>
</ion-view>
