<ion-header-bar class="bar-energized">
    <h1 class="title">iArenan</h1>
</ion-header-bar>
<div class="bar bar-notification bar-{{notification.type}}" ng-if="notification.isShowing">
    {{notification.message}}
</div>
<ion-content ng-class="{'has-notification': notification.isShowing}">
    <form ng-submit="doLogin()">
        <div class="list list-inset">
            <div class="item item-image padding">
                <img src="img/gl2.jpg" alt="Gladiator II">
            </div>
            <div class="item item-divider">Inloggning</div>
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Profilnamn" ng-model="loginData.profil">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked placeholder-icon"></i>
                <input type="password" placeholder="Lösenord" ng-model="loginData.password">
            </label>
        </div>
        <div class="padding-horizontal">
            <button class="button button-block button-positive" type="submit">Logga in</button>
        </div>
    </form>
</ion-content>
