<ion-side-menus>

  <ion-side-menu-content edge-drag-threshold="true">
    <ion-nav-bar class="bar-energized nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i>
      </ion-nav-back-button>
      <ion-nav-title>iArenan</ion-nav-title>
      <ion-nav-buttons side="right">
          <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-notification bar-{{notification.type}}" ng-if="notification.isShowing">
        {{notification.message}}
    </div>

    <div class="tabs-striped tabs-background-dark tabs-color-energized">
        <ion-tabs class="tabs-icon-top">
            <ion-tab title="Gladiator" icon="ion-person" href="#/ia/gladiator">
                <ion-nav-view name="tabGladiator" animation="slide-right-left"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Arenan" icon="ion-ionic" href="#/ia/arena">
                <ion-nav-view name="tabArena" animation="slide-right-left"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Klaner" icon="ion-home" href="#/ia/clans">
                <ion-nav-view name="tabClans" animation="slide-right-left"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Marknaden" icon="ion-bag" href="#/ia/market">
                <ion-nav-view name="tabMarket" animation="slide-right-left"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Staden" icon="ion-settings" href="#/ia/town">
                <ion-nav-view name="tabTown" animation="slide-right-left"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div>

  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Inställningar</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
          <ion-item menu-close href="#/login" class="item-icon-left" ng-click="doLogout()">
              <i class="icon ion-power"></i>
              Logga ut
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
