<ion-view>
    <ion-content class="has-header" ng-class="{'has-notification': notification.isShowing}">
    <ion-list>
        <div class="list card">
            <div class="item item-divider">Min Gladiator</div>
            <div class="item item-avatar item-icon-right" ng-click="modal.show()">
                <img ng-src="{{data.image}}" alt="Profilbild">
                <h2>{{data.name}}</h2>
                <p>{{data.title}}</p>
                <i class="icon ion-ios7-information-outline positive"></i>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-connection-bars"></i>
                Grad
                <span class="item-note">
                    {{data.level}} ({{data.experiencePoints}} ep)
                </span>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-heart"></i>
                Hälsa
                <span class="item-note">
                    {{data.health}} kp
                </span>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-battery-charging"></i>
                Form
                <span class="item-note">
                    {{data.shape}}%
                </span>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-clock"></i>
                Tid
                <span class="item-note">
                    {{data.rounds}} rundor
                </span>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-social-usd"></i>
                Kapital
                <span class="item-note">
                    {{data.capital}} sm
                </span>
            </div>
        </div>
    </ion-list>
</ion-content>
</ion-view>
